$grisRespuesta: #222327
$negroRespuesta: #131314
$azulAnclaHover: #61AEFA
$azulAnclaNormal: #4097ED
$gris: #3b3b3b7d
$gris2: #5d5c5c
$grisHover: #151514

@mixin orientacion($display:flex, $direction:null, $justify:null, $align:null, $columns: null, $place: null, $gap: null)
    display: $display
    flex-direction: $direction
    justify-content: $justify
    align-items: $align
    grid-template-columns: $columns
    place-content: $place
    gap: $gap

*
    box-sizing: border-box
    top: 0
    margin: 0px
    font-size: 15px
    color: white
    font-family: 'Open Sans', sans-serif

body
    @include orientacion(flex, column)
    width: 100%
    height: 100vh
    background-color: #000101


// Menu de navegacion superior

nav
    @include orientacion(flex,null , space-between)
    padding: 8px 20px 8px 20px

.filaCajaNav
    @include orientacion(flex, null, null, center)
    width: 120px
    gap: 10px

#menu
    @include orientacion(flex, null, center, center)
    width: 48px
    height: 48px
    border-radius: 50%
    padding: 4px

#menu:hover
    background-color: $gris

#logo
    height: 22px

#apps
    @include orientacion(flex, null, center, center)
    width: 48px
    height: 48px
    border-radius: 50%
    padding: 4px

#apps:hover
    background-color: $gris

#perfil
    width: 48px
    height: 48px
    border-radius: 50%
    padding: 4px

#perfil:hover
    background-color: $gris

// Caja del bloque principal (2 columnas)


// Bloque de la izquierda
aside
    @include orientacion(flex, column)
    width: 100%
    height: 92vh
    font-weight: 600
    background-color: #000101
    gap: 2px


.asideCajaSuperior
    @include orientacion(flex, column)
    height: 95%
    border: solid $gris
    border-width: 0px 0px 2px 0px
    #disable
        margin-top: 5px
        p, span
            color: $gris2
    &_Fila
        @include orientacion(flex, null, null, null, null, null, 16px)
        width: 100%
        padding: 17px 40px 17px 22px
    &_Fila:hover
        background-color: $gris
        border-radius: 0px 30px 30px 0px

#cajaInferior
    @include orientacion(flex, null, center, center, null, null, 16px)
    margin: 5px 0px 8px 0px
    width: 100%
    height: 7%
    border-radius: 0px 30px 30px 0px
    &:hover
        background-color: $gris


// Bloque de la derecha
main
    @include orientacion(grid, null, null, null, 13% 87%)
    width: 100%
    height: 100%

section
    @include orientacion(flex, column, null, center, null, null, 50%)
    width: 89%
    height: 89vh
    background-color: #222327
    border-radius: 25px
    margin: 1px 15px 0px 25px
    .chatboxSup
        @include orientacion(grid, null, null, null, 5% 95%)
        background-color: #131314
        margin: 16px
        height: 30.4%
        border-radius: 30px
        #estrella
            width: 35px
            height: 35px
            margin: 12px
        #respuesta
            @include orientacion(flex, column)
            width: 100%
            background-color: #131314
            border-radius: 30px
            gap: 18px
            margin-top: 12px
            p,a
                font-size: 16px
            a
                color: $azulAnclaNormal
                text-decoration: none
            a:hover
                color: $azulAnclaHover

#cajaInferiorSection
    @include orientacion(flex, column, null, center, null, null, 17px)
    &_prompt
        @include orientacion(flex, null, null, center)
        height: 55px
        gap: 10px
        &_input
            padding: 16px 0px 16px 30px
            border: white solid 1px
            border-radius: 50px
            width: 1008px
            background-color: $negroRespuesta  
            display: flex
            input
                color: white
                width: 916px
                background-color: transparent
                border: none
                outline: none
            input::placeholder
                color: white
    #warning
        font-size: 0.82rem