:root{
    --colorOscuro: #343434;
}

*{
    box-sizing: border-box;
    top: 0px;
    margin: 0px;
    /* Estilos de texto general */
    font-size: 15px;
    color: white;
    font-family: roboto;
    text-decoration: none;
}

body{
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: #0f0f0f;
}

.iconos{
    width: 24px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    position: sticky;
    top: 0;
}

aside div a{
    font-size: 0.7rem;
}

aside div img{
    width: 30px;
}

#burgerMenu{
    margin: 15px 0px 20px 0px;
}

aside div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    background-color: #000000;
}

#logo{
    width: 125px;
    height: 50px;
}

#busqueda{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

#busqueda div{
    display: flex;
    align-items: center;
    border: #232223 solid 2px;
    border-radius: 25px;
}

#busqueda input{
    width: 500px;
    height: 35px;
    padding-left: 10px;
    border-radius: 25px 0px 0px 25px;
    border: none;
    background-color: transparent;
}

#lupa{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorOscuro);
    border-color: rgb(74, 74, 74);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-radius: 0px 25px 25px 0px;
    height: 39px;
    width: 60px;
}

#lupa img{
    width: 60px;
}

#microfono{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: var(--colorOscuro);
    border-radius: 50%;
}

#microfono img{
    width: 40px;
}

#acciones{
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 0px;
    gap: 15px;
}

#acciones a img{
    width: 35px;
}

#recomendaciones{
    margin-top: 10px;
    display: flex;
    gap: 15px;
    padding-top: 15px;
    margin-left: 10px;
    position: sticky;
    top: 51px;
    z-index: 3;
    background-color: #000000;
}

#recomendaciones button{
    color: white;
    background-color: var(--colorOscuro);
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
}

#cuadriculaVideos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 13px;
    margin-top: 15px;
    border: solid gray;
    border-width: 5px 0px 5px 0px;
    z-index: 2;
}

.imgVideo{
    width: 300px;
    border-radius: 10px;
}
