/*  asd
 *  asd
 *  asd
 *  asd
 *  asd
 *  */
* {
  box-sizing: border-box;
  top: 0;
  margin: 0px;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background: radial-gradient(#5cc048, #083705);
  width: 100%;
  height: 100vh;
}
body .caja {
  background-color: yellow;
}
body .caja #parrafo {
  color: red;
  font-size: 2rem;
}

#contenedorMixin #cajaMixin1 {
  background-color: cyan;
  font-family: arial;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
}
#contenedorMixin #cajaMixin1 p {
  font-size: 1.6rem;
}
#contenedorMixin #cajaMixin2 {
  background-color: red;
  font-family: "arial";
  width: 35vmax;
  height: 200px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: end;
}
#contenedorMixin #cajaMixin2 p {
  font-size: 1.6rem;
}
#contenedorMixin #cajaMixin3 {
  background-color: #1959a8;
  font-family: "times new roman";
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
}
#contenedorMixin #cajaMixin3 p {
  font-size: 1.6rem;
}
#contenedorMixin #cajaMixin4 {
  background-color: purple;
  font-family: console;
  width: 50%;
  height: 180px;
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#contenedorMixin #cajaMixin4 p {
  font-size: 1.6rem;
}

h1 {
  color: #312b01;
  font-size: 3.5rem;
}

/*& Hace referencia a el selector padre 
 *  en este caso & = .contenedor*/
/*& Hace referencia a el selector padre 
 *  en este caso & = .contenedor_box*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  place-items: center;
  width: 100%;
  height: 800px;
  margin-top: 25px;
}
.contenedor_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c5f88;
  width: 300px;
  height: 300px;
}
.contenedor_box_parrafo {
  color: white;
  font-size: 2rem;
}
.contenedor_box_parrafo-span {
  color: darkblue;
  font-size: 2rem;
  font-family: roboto;
  font-weight: 900;
}

#sectionPadre {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 300px;
  background-color: #423a2b;
  padding: 100px;
}
#sectionPadre_hijo1, #sectionPadre_hijo2, #sectionPadre_hijo3, #sectionPadre_hijo4, #sectionPadre_hijo5, #sectionPadre_hijo6 {
  color: greenyellow;
}
#sectionPadre_hijo2, #sectionPadre_hijo3, #sectionPadre_hijo4, #sectionPadre_hijo5, #sectionPadre_hijo6 {
  background-color: black;
}
#sectionPadre_hijo3, #sectionPadre_hijo4, #sectionPadre_hijo5, #sectionPadre_hijo6 {
  font-family: arial;
}
#sectionPadre_hijo4, #sectionPadre_hijo5, #sectionPadre_hijo6 {
  padding: 10px;
  border-radius: 8px;
}
#sectionPadre_hijo5, #sectionPadre_hijo6 {
  border: white solid 2px;
}
#sectionPadre_hijo5:hover, #sectionPadre_hijo6:hover {
  color: black;
  background-color: greenyellow;
  border: black solid 2px;
}
#sectionPadre_hijo5:active, #sectionPadre_hijo6:active {
  background-color: #39023f;
  color: #ddb204;
}
#sectionPadre_hijo6 {
  font-size: 2.2rem;
}/*# sourceMappingURL=style.css.map */